<video class="problem-video" controls>
  <!--<source src="<%= @problem.file %>" type="video/mp4" poster="<%#= @problem.file_url(:thumb)%>">-->
  <source src="<%= @problem.file %>" type="video/mp4">
  Your browser does not support the video tag.
</video>
