<link href="/Styles/create-request.min.css" rel="stylesheet" type="text/css" />

<%- model_class = Problem -%>

<%= form_for @problem, :html => { :class => 'edit_problem form-horizontal' } do |f| %>

  <div class="container">
    <div class="row">
      <div class="span4 offset4">

        <%= f.text_field :name, :class => 'input-block-level', :placeholder => "Title" %>
        <%= f.text_area :description, :rows => 3, :class => 'input-block-level', :placeholder => "Description" %>

        <%= f.file_field :file,
                         :class =>'input-block-level',
                         :accept => 'video/*;capture=camcorder' if false
        %>

        <video class="img" controls>
          <!--<source src="<%= @problem.file %>" type="video/mp4" poster="<%#= problem.file_url(:thumb)%>">-->
          <source src="<%= @problem.file %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>


        <%= f.text_field :address, :class => 'input-block-level', :placeholder => "Location"  %>

        <%= link_to @problem.categories_html, problem_categories_path(@problem) if @problem.categories.present? %>
        <%= link_to "Add category", problem_categories_path(@problem) if @problem.categories.empty? %>
        <!--<select id="categories">-->
          <!--<option>Apple</option>-->
          <!--<option>Orange</option>-->
          <!--<option>Pineapple</option>-->
          <!--<option>Banana</option>-->
        <!--</select>-->

        <label class="checkbox" for="checkbox1">
          <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
          <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
          Post to Twitter
        </label>

        <label class="checkbox" for="checkbox2">
          <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
          <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox" />
          Post to Facebook
        </label>

        <%= f.submit "Done", :class => 'btn btn-large btn-block btn-primary' %>

      </div>
    </div>
  </div>



<% end %>
