<link href="/Styles/home.min.css" rel="stylesheet" type="text/css" />
<%= form_for Problem.new, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.file_field :file,
                   :class => 'file-field',
                   :accept => 'video/*;capture=camcorder'
  %>
    <%= f.submit %>

    <div class="container">
      <div class="row">
        <div class="span12 prof-types-list">
          <a href="#" class="btn btn-large btn-block btn-primary prof-types-list-link">Request Service</a>
        </div>
      </div>
      <hr />
  <% end %>

  <ul class="row" id="request-items">

    <% @problems.each do |problem| %>
      <%
         problem_link = prof_problem_path(@prof, problem) if @prof
         problem_link = problem_offers_path(problem) unless @prof
      %>
      <a href="<%= prof_problem_path(Prof.find(1), problem) %>">
        <li data-category-id-mod="1" class="request-item span6">
          <!--<video class="img" controls poster="<%#= problem.file_url(:thumb) %>">-->
          <video class="img" controls>
            <source src="<%= problem.file %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <section class="info">
            <label class="title"><%= problem.name %></label>
            <div class="details">
              <div class="detail">
                <label>Category</label><span><%= problem.first_category.try :name %></span>
              </div>
              <div class="detail">
                <label>Location</label><span><%= problem.address %></span>
              </div>
              <div class="detail">
                <label>Date</label><span><%= problem.created_at.strftime("%H:%M %m/%d/%Y") %></span>
              </div>
            </div>
          </section>
        </li>
      </a>

    <% end %>

  </ul>
  </div>





  <script src="/Scripts/app.js"></script>
  <!--<script src="/Scripts/home.js"></script>-->
  </body>
  </html>
