<%- model_class = Problem -%>

<%= form_for @problem, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">

    <div class="controls">
      <%= f.file_field :file,
                       class: 'file-field',
                       accept: 'video/*;capture=camcorder',
                       style: 'display: none;'
      %>
    </div>

    <table class="prof-types-list">
      <% [["cleaning","doctor"],["handyman","moving"],["painting","plumbers"]].each do |row| %>
        <tr>
          <% row.each do |column| %>
            <td>
              <%= link_to '', class: 'prof-types-list' do %>
                <div class="prof-type">
                  <div class="icon" style="background-image: url(<%= "/assets/#{column}.png" %>)"></div>

                  <%#= image_tag("#{column}.png") %>

                  <%= content_tag :span, column.titleize %>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>


<% end %>


<%= link_to "I am a proffional", profs_path, :style => "" %>