<link href="/Styles/view-request.min.css" rel="stylesheet" type="text/css" />

<%- model_class = Problem -%>
<div class="container">
  <div class="row">
    <div class="span12">

      <video id="video-container" controls>
        <source src="<%= @problem.file %>" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <hr />
      <h4 style="margin-bottom: 0px;"><%= @problem.name %></h4>
      <label style="color: #bbbbbb;"><%= @problem.first_category.try :name %>, <small><%= @problem.created_at.strftime("%H:%M %m/%d/%Y") %></small></label>
      <p id="request-description"><%= @problem.description %></p>
      <hr />

      Guy G.
      </br>
      </br>

      <div id="star"></div>
      <br/>
      <br/>


      <div style="overflow: auto;">
        <a style="float: left; margin: 0px; width: 75%" href="<%= new_prof_problem_offer_path(@prof, @problem) %>" class="btn btn-large btn-block btn-primary">Offer</a>
        <a style="float: left; margin: 0px; margin-left: 2%; width: 23%" href="<%= new_prof_problem_offer_path(@prof, @problem) %>" class="btn btn-large btn-block btn-info"><i class="icon-envelope"></i></a>
      </div>

      <section id="send-offer">
      </section>
      <%= @problem.address %>
      <div id="map" class="container">
        <div id="map_container"></div>
        <div id="other_content">
          <h2 id="loc">

          </h2>
        </div>
      </div>




    </div>

  </div>
</div>

<script src="/Scripts/external/jquery.min.js"></script>
<script src="/Scripts/external/bootstrap/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
<script src="/Scripts/external/flatui-checkbox.js"></script>
<script src="/Scripts/external/raty/jquery.raty.min.js"></script>
<script>$('#star').raty({ readOnly: true, score: 3 });



$.getScript('http://www.geoplugin.net/javascript.gp', function () {

  $('#loc').html("" + geoplugin_countryName() + ", " + geoplugin_region() + ", " + geoplugin_city());
  $('#map_container').css("background-image", "url(http://maps.google.com/maps/api/staticmap?center=" + geoplugin_city() + "," + geoplugin_region() + "&zoom=14&size=640x200&scale=1&markers=color:red%7C" + "32.067029" + "," + "34.795139" + "&maptype=terrain&sensor=true)");

});

</script>
<!--<script src="/Scripts/home.js"></script>-->
