<%- model_class = Problem -%>
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Guy, you got a price offer!</h1>

<%= link_to "Click here to see the price offer!", "http://#{@request.host}:#{@request.port}/" + problem_offers_path(@problem) %>

<dl class="dl-horizontal">
  <dt><strong>From:</strong></dt>
  <dd><%= @prof.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @offer.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:arrival) %>:</strong></dt>
  <dd><%= @offer.arrival %></dd>
  <dt><strong><%= model_class.human_attribute_name(:free_text) %>:</strong></dt>
  <dd><%= @offer.free_text %></dd>
</dl>

<p>Thanks you!</p>
</body>
</html>