﻿.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.site-slogan {
  line-height: 20px;
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.5);
  display: none;
}
.site-icon {
  height: 100%;
  margin-right: 10px;
}
.navbar .brand {
  padding: 0px;
}
label {
  cursor: default;
}
.mobile-row-fluid {
  width: 100%;
  *zoom: 1;
}
.mobile-row-fluid:before,
.mobile-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.mobile-row-fluid:after {
  clear: both;
}
.mobile-row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.mobile-row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.mobile-row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.mobile-row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.mobile-row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.mobile-row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.mobile-row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.mobile-row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.mobile-row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.mobile-row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.mobile-row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.mobile-row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.mobile-row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.mobile-row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.mobile-row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.mobile-row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.mobile-row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.mobile-row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.mobile-row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.mobile-row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.mobile-row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.mobile-row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.mobile-row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.mobile-row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.mobile-row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.mobile-row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.mobile-row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.mobile-row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.mobile-row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.mobile-row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.mobile-row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.mobile-row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.mobile-row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.mobile-row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.mobile-row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.mobile-row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.mobile-row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.mobile-row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.mobile-row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}
[class*="span"].hide,
.mobile-row-fluid [class*="span"].hide {
  display: none;
}
[class*="span"].pull-right,
.mobile-row-fluid [class*="span"].pull-right {
  float: right;
}
