﻿#request-items {
  list-style: none;
  margin: 0px;
}
.request-item {
  position: relative;
  overflow: hidden;
  height: 210px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  /*.box-shadow(~"0px 2px 5px @{border-color}");*/

  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  -moz-transition: -moz-box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  -ms-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  margin-left: 0.9%;
}
.request-item:hover {
  -webkit-box-shadow: 0px 2px 2px gray;
  -moz-box-shadow: 0px 2px 2px gray;
  box-shadow: 0px 2px 2px gray;
}
.request-item .img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.request-item .info {
  position: absolute;
  -webkit-border-radius: 3px 3px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 0px 0px;
  -moz-background-clip: padding;
  border-radius: 3px 3px 0px 0px;
  background-clip: padding-box;
  left: 10px;
  right: 10px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.75);
  height: 50px;
  padding: 10px;
}
.request-item .info .title {
  color: white;
  font-weight: bold;
  font-size: 150%;
}
.request-item .info .details {
  overflow: auto;
}
.request-item .info .details .detail {
  float: left;
  margin-right: 15px;
}
.request-item .info .details .detail:not(:first-child) {
  margin-left: 15px;
}
.request-item .info .details .detail:after {
  content: "|";
}
.request-item .info .details .detail label {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}
.request-item .info .details .detail label:after {
  content: ":";
}
.request-item .info .details .detail span {
  color: white;
  display: inline-block;
  margin-left: 5px;
}
.request-item[data-category-id-mod="1"] .info {
  background: rgba(26, 188, 156, 0.75);
}
.request-item[data-category-id-mod="2"] .info {
  background: rgba(46, 204, 113, 0.75);
}
.request-item[data-category-id-mod="3"] .info {
  background: rgba(52, 152, 219, 0.75);
}
.request-item[data-category-id-mod="4"] .info {
  background: rgba(155, 89, 182, 0.75);
}
.request-item[data-category-id-mod="5"] .info {
  background: rgba(52, 73, 94, 0.75);
}
.request-item[data-category-id-mod="6"] .info {
  background: rgba(241, 196, 15, 0.75);
}
.request-item[data-category-id-mod="7"] .info {
  background: rgba(230, 126, 34, 0.75);
}
.request-item[data-category-id-mod="8"] .info {
  background: rgba(231, 76, 60, 0.75);
}
.request-item[data-category-id-mod="9"] .info {
  background: rgba(236, 240, 241, 0.75);
}
.request-item[data-category-id-mod="10"] .info {
  background: rgba(149, 165, 166, 0.75);
}
