@import "_lesshat";

@border-color: #e5e5e5;
@border: 1px solid @border-color;



#request-items {
    list-style: none;
    margin: 0px;
}


.request-item-medical {
}





.request-item {

    @item-height: 210px;

    position: relative;
    overflow: hidden;
    height: @item-height;
    cursor: pointer;
    border: @border;
    border-bottom: 2px solid @border-color;
    /*.box-shadow(~"0px 2px 5px @{border-color}");*/
    margin-bottom: 20px;
    .border-radius(3px);

    .transition(~"box-shadow 0.1s ease-in-out");
    &:hover{
        .box-shadow(~"0px 2px 2px gray");
    }

    margin-left: 0.9%;

    .img {
        width: 100%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .info {
        position: absolute;
        .border-radius( 3px 3px 0px 0px);
        left: 10px;
        right: 10px;
        bottom: 0px;
        background: fade(black,75%);
        height: 50px;
        padding: 10px;

        .title {
            color: white;
            font-weight: bold;
            font-size: 150%;
        }

        .details {
            overflow: auto;

            .detail {
                float: left;
                margin-right: 15px;

                &:not(:first-child) {
                    margin-left: 15px;
                }

                &:after {
                    content: "|";
                }

                label {
                    color: fade(white,50%);
                    display: inline-block;

                    &:after {
                        content: ":";
                    }
                }

                span {
                    color: white;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
}

    .request-item[data-category-id-mod="1"] .info {
        background: fade(#1ABC9C,75%);
    }

    .request-item[data-category-id-mod="2"] .info {
        background: fade(#2ECC71,75%);
    }

    .request-item[data-category-id-mod="3"] .info {
        background: fade(#3498DB,75%);
    }

    .request-item[data-category-id-mod="4"] .info {
        background: fade(#9B59B6,75%);
    }

    .request-item[data-category-id-mod="5"] .info {
        background: fade(#34495E,75%);
    }

    .request-item[data-category-id-mod="6"] .info {
        background: fade(#F1C40F,75%);
    }

    .request-item[data-category-id-mod="7"] .info {
        background: fade(#E67E22,75%);
    }

    .request-item[data-category-id-mod="8"] .info {
        background: fade(#E74C3C,75%);
    }

    .request-item[data-category-id-mod="9"] .info {
        background: fade(#ECF0F1,75%);
    }

    .request-item[data-category-id-mod="10"] .info {
        background: fade(#95A5A6,75%);
    }
