@import "_lesshat";

@border-color: #e5e5e5;
@border: 1px solid @border-color;
@light-white: #f9f9f9;

.request {
    margin-bottom: 20px;

    header {
        font-weight: bold;
        border-bottom: @border;
        margin-bottom: 10px;
    }

    .notifications {
        margin: 0;
        list-style: none;

        @notification-height: 50px;

        .notification {
            //   border: @border;
            // border-bottom: 2px solid @border-color;
            background: @light-white;
             padding:10px 0;
            margin-bottom:10px;

            cursor:pointer;
        }

        .new-offer {
            border-right: 5px solid #1ABC9C;

            .offer-price {
                display: block;
                line-height: @notification-height;
                font-weight: bold;
                font-size: 150%;
                color: fade(gray,50%);
                text-align:center;
            }

            .new-msgs {
                display: none;
            }
        }

        .new-chat {
            border-right: 5px solid #3498DB;

            .new-msgs {
                display: block;
                line-height: @notification-height;
                font-size: 120%;
                color: fade(gray,50%);
                text-align:center;
                color:white;
                .border-radius(100%);
                background:white;
                color:#3498DB;
               border:@border;
                height:25px;
                line-height:25px;
                width:25px;
                margin:auto;
                margin-top:(@notification-height - 25px) / 2;
            }

            .offer-price {
                display: none;
            }
        }

        .user-img {
            height: @notification-height;
            //padding-left:10px;
        }
    }
}
