﻿.request {
  margin-bottom: 20px;
}
.request header {
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.request .notifications {
  margin: 0;
  list-style: none;
}
.request .notifications .notification {
  background: #f9f9f9;
  padding: 10px 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.request .notifications .new-offer {
  border-right: 5px solid #1ABC9C;
}
.request .notifications .new-offer .offer-price {
  display: block;
  line-height: 50px;
  font-weight: bold;
  font-size: 150%;
  color: rgba(128, 128, 128, 0.5);
  text-align: center;
}
.request .notifications .new-offer .new-msgs {
  display: none;
}
.request .notifications .new-chat {
  border-right: 5px solid #3498DB;
}
.request .notifications .new-chat .new-msgs {
  display: block;
  line-height: 50px;
  font-size: 120%;
  color: rgba(128, 128, 128, 0.5);
  text-align: center;
  color: white;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  background: white;
  color: #3498DB;
  border: 1px solid #e5e5e5;
  height: 25px;
  line-height: 25px;
  width: 25px;
  margin: auto;
  margin-top: 12.5px;
}
.request .notifications .new-chat .offer-price {
  display: none;
}
.request .notifications .user-img {
  height: 50px;
}
