@import "_lesshat";

@border-color: #e5e5e5;
@border: 1px solid @border-color;


#supplier-info {
    .img {
        background: white;
        border: @border;
        padding: 5px;
        width: 95%;
        display: block;
        margin: auto;
    }

    .rating {
        display: inline-table;
        margin-top: 3px;
        margin-bottom: 10px;
    }

    .description {
        line-height: 20px;
    }
}

#offer-info {
    .price {
        font-weight: bold;
        color: gray;
        text-align: center;
        margin: 10px auto;
        display: block;
        font-size: 500%;
        //color:#5dade2;
    }

    label, span {
        display: inline-block;
    }

    label {
        color: gray;
        font-size: 80%;
    }

    span {
        margin-left: 5px;
        color: gray;
    }

    .rating {
        margin-top: -3px;
        display: table-caption;
    }
}

section header {
    margin-top: 20px;
    border-bottom: @border;
    margin-bottom: 10px;
}


#chat {
    padding: 10px 0px;

    ul {
        margin: 0;
        list-style: none;
        overflow: auto;
    }

    li {
        width: 50%;
        border: @border;
        position: relative;
        margin-bottom: 0px;
        margin-top: 2px;
    }

    .me {
        @color: #ECF0F1;
        color: gray;
        float: left;
        margin-left: 20px;
        background: @color;
        .border-radius(0px 3px 3px 3px);
        padding: 5px;

        &:after {
            content: "";
            position: absolute;
            border-style: solid;
            display: block;
            width: 0;
            top: 10px;
            left: -20px;
            bottom: auto;
            border-width: 15px 20px 0 0;
            border-color: transparent @color;
        }
    }

    .him {
        float: right;
        position: relative;
        @color: #27AE60;

        color: white;
        background: @color;
        .border-radius(0px 3px 3px 3px);
        padding: 5px;
        margin-right: 20px;
        background: @color;


        &:after {
            content: "";
            position: absolute;
            border-style: solid;
            display: block;
            width: 0;
            top: 10px;
            right: -20px;
            bottom: auto;
            left: auto;
            border-width: 15px 0 0 20px;
            border-color: transparent @color;
        }
    }

        .him + .me, .me + .him {
            margin-top: 10px;
        }
}
