﻿#supplier-info .img {
  background: white;
  border: 1px solid #e5e5e5;
  padding: 5px;
  width: 95%;
  display: block;
  margin: auto;
}
#supplier-info .rating {
  display: inline-table;
  margin-top: 3px;
  margin-bottom: 10px;
}
#supplier-info .description {
  line-height: 20px;
}
#offer-info .price {
  font-weight: bold;
  color: gray;
  text-align: center;
  margin: 10px auto;
  display: block;
  font-size: 500%;
}
#offer-info label,
#offer-info span {
  display: inline-block;
}
#offer-info label {
  color: gray;
  font-size: 80%;
}
#offer-info span {
  margin-left: 5px;
  color: gray;
}
#offer-info .rating {
  margin-top: -3px;
  display: table-caption;
}
section header {
  margin-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
#chat {
  padding: 10px 0px;
}
#chat ul {
  margin: 0;
  list-style: none;
  overflow: auto;
}
#chat li {
  width: 50%;
  border: 1px solid #e5e5e5;
  position: relative;
  margin-bottom: 0px;
  margin-top: 2px;
}
#chat .me {
  color: gray;
  float: left;
  margin-left: 20px;
  background: #ecf0f1;
  -webkit-border-radius: 0px 3px 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px 3px 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0px 3px 3px 3px;
  background-clip: padding-box;
  padding: 5px;
}
#chat .me:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 10px;
  left: -20px;
  bottom: auto;
  border-width: 15px 20px 0 0;
  border-color: transparent #ecf0f1;
}
#chat .him {
  float: right;
  position: relative;
  color: white;
  -webkit-border-radius: 0px 3px 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px 3px 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0px 3px 3px 3px;
  background-clip: padding-box;
  padding: 5px;
  margin-right: 20px;
  background: #27ae60;
}
#chat .him:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 10px;
  right: -20px;
  bottom: auto;
  left: auto;
  border-width: 15px 0 0 20px;
  border-color: transparent #27ae60;
}
#chat .him + .me,
#chat .me + .him {
  margin-top: 10px;
}
