﻿body {
  padding-bottom: 10px;
  border-bottom: 5px solid #16A085;
}
#video-container {
  width: 100%;
  min-height: 200px;
}
#map {
  width: 100%;
  background: #eee;
}
#map_container {
  background: transparent no-repeat 1 1;
  width: 100%;
  height: 150px;
  float: left;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
#other_content {
  background: #232323;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fefefe;
  padding: 12px;
  display: none;
}
section header {
  margin-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.client-img {
  width: 50px;
  margin-right: 10px;
}
