<%= form_for [@prof, @problem, @offer], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">

  <%= f.hidden_field :problem_id, :class => 'number_field' %>
  <%= f.hidden_field :prof_id, :class => 'number_field' %>

  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :arrival, "Time of Arrival", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :arrival, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :free_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :free_text, :class => 'text_field', :rows => 4 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                offers_path, :class => 'btn' %>
  </div>
<% end %>
