<%- model_class = Offer -%>



  <link href="/Styles/inbox.min.css" rel="stylesheet" type="text/css" />

<% if @offers.empty? %>
  <h4>No new notifications.</h4>
<% end %>

<% @offers.each do |offer| %>

<section class="request">
  <header><%= offer.problem.name %></header>
  <ul class="container-fluid notifications">


    <%= link_to problem_offer_path(offer.problem,offer) do %>
      <li class="mobile-row-fluid notification new-offer">
        <div class="span3">
          <img class="user-img" src="/Images/demoClient.jpg" />
        </div>
        <div class="span6">
          <h4 style="margin: 0px;"><%= offer.prof.name %></h4>
          <div class="rating" style="display: inline-table; margin-top: 3px;"></div>
        </div>
        <div class="span3">
          <span class="offer-price"><%= offer.price %>$</span>
          <span class="new-msgs"></span>
        </div>
      </li>
    <% end %>


    <li class="mobile-row-fluid notification new-chat">
      <div class="span3">
        <img class="user-img" src="/Images/demoClient.jpg" />
      </div>
      <div class="span7">
        <h4 style="margin: 0px;"><%= offer.prof.name %></h4>
        <div class="rating" style="display: inline-table; margin-top: 3px;"></div>

      </div>
      <div class="span2">
        <span class="offer-price"></span>
        <span class="new-msgs">3</span>
      </div>
    </li>


  </ul>


</section>


<% end %>



