<%- model_class = Offer -%>
<link href="/Styles/offer.min.css" rel="stylesheet" type="text/css" />

<div class="container">
  <div class="row">
    <div class="span12">

      <h4 style="margin-top: -10px;">@offer.problem.name</h4>

      <section id="offer-info">

        <div>
          <label>Supplier Name:</label><span><%= @offer.prof.name %>
                        </span>
        </div>
        <div>
          <label>Rating:</label><span><div class="rating"></div>
                        </span>
        </div>
        <div>
          <label>Time Of Arrival:</label><span>09:10 11/12/2013</span>
        </div>

        <span class="price"><%= @offer.price %>$</span>


      </section>

      <%= link_to problem_offer_orders_path(@offer.problem,@offer),:method => :post, :class => 'btn btn-large btn-block btn-infos' do %>
        <i class="icon-hand-right" style="margin-right:5px;"></i>
        Order with Paypal
      <% end %>



        <section id="chat">
        <header>Chat</header>

        <div style="overflow: auto; margin-bottom: 10px;">
          <input id="input-new-chat" type="text" style="float: left; margin: 0px; width: 70%" />
          <a id="btn-new-chat" style="float: left; margin: 0px; margin-left: 2%; width: 23%; height: 41px;" class="btn btn-large btn-block btn-inverse"><i class="icon-envelope"></i></a>

        </div>

        <ul>
          <li class="me">hi, whats your name?</li>
          <li class="me">alo ??</li>
          <li class="him">yes?</li>
          <li class="me">whats your name?</li>
          <li class="him">Heroku, and you?</li>
          <li class="me">I'm Hasan</li>
          <li class="him">OK</li>
          <li class="him">How can i help you?</li>
          <li class="me">this is a very long chat ok !! so if u don't like it go to hill please okk !??!</li>
        </ul>


      </section>

      <hr />

      <section id="supplier-info">
        <img class="img" src="/Images/demo-client-large.jpg" />
        <h2 class="name">Mr. Get Bales</h2>
        <p class="description">He is consistently ranked in the Forbes list of the world's wealthiest people[5] and was the wealthiest overall from 1995 to 2009—excluding 2008, when he was ranked third;[6] in 2011 he was the wealthiest American and the world's second wealthiest person.[7][8] According to the Bloomberg Billionaires List, Gates is the world's richest person in 2013, a position that he last held on the list in 2007</p>
      </section>

    </div>
  </div>
</div>

<script src="Scripts/external/jquery.min.js"></script>
<script src="Scripts/external/bootstrap/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
<script src="Scripts/external/flatui-checkbox.js"></script>
<script src="Scripts/external/raty/jquery.raty.min.js"></script>
<script>$('.rating').raty({ readOnly: true, score: 5 });
</script>
<!--<script src="/Scripts/home.js"></script>-->
</body>
</html>

