<%- model_class = Problem -%>
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1><%= @prof.name %>, You Have Job!</h1>

<%= link_to "Click here to make an offer!", "http://#{@request.host}:#{@request.port}/" + prof_problem_path(@prof, @problem) %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @problem.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @problem.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @problem.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file) %>:</strong></dt>
  <dd>
    <%= render :partial => '/problems/video' %>
  </dd>
</dl>

<p>Thanks you!</p>
</body>
</html>