// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof-types-list {
  list-style: none;
  li {
    list-style: none;
    margin: 10px;
  }
}

.problem-video {
  width: 80%    !important;
  height: auto   !important;
}

table.prof-types-list {
  width: 100%;
  tr {
    td {
      height: 60px;
      //width: 80%;
      .prof-type {
        //img {
        //  display: block;
        //}
        vertical-align: middle;
        padding: 25%, 25%,25%,25%;
        background:url('icon_bg_color.png');
        background-repeat: repeat;

        .icon {
          height: 90px;
          background-position: center;
          background-repeat: no-repeat;
        }

        span {
          width: 100%;
          display: inline-block;
          text-align: center;
          color: white;
          font-size: 23px;
        }
      }

    }

  }
}
