// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.public-welcome {
  a {
    height:  100%;
    widht: 100%;
    display: block;
  }
}