<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td>
      <%= link_to category.name, problem_categories_path(@problem, :category_id => category.id), :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
