<%- model_class = Prof -%>
<div class="page-header">
  <h1>Login</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>
  </thead>
  <tbody>
    <% @profs.each do |prof| %>
      <tr onclick="window.location='<%= escape_javascript prof_problems_path(prof) %>'">
        <td><%= link_to prof.id, prof_problems_path(prof) %></td>
        <td><%= link_to prof.name, prof_problems_path(prof) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_prof_path(prof), :class => 'btn btn-mini' if false %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      prof_path(prof),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' if false %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_prof_path,
            :class => 'btn btn-primary' if false %>
