<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SrvPal</title>
  <%= csrf_meta_tags %>
  <link href="/Scripts/external/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/Scripts/external/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/Scripts/external/bootstrap/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" />
  <link href="/Styles/animate.min.css" rel="stylesheet" type="text/css" />



  <!-- CDN-Hosted Javascript libraries (for speed) -->
  <%= javascript_include_tag 'application' %>



  <link href="/Styles/animate.min.css" rel="stylesheet" type="text/css" />

  <!-- Metas for mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-icon" sizes="72x72" href="Images/icon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="Images/icon.png" />
  <link rel="apple-touch-icon" href="Images/icon.png" />
  <link rel="apple-touch-startup-image" href="Images/icon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />

  <link href="/Styles/flat-ui.css" rel="stylesheet" type="text/css" />
  <link href="/Styles/app.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="container">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
      <div class="navbar-inner">
        <a class="brand" href="<%= root_path %>">
          <img class="site-icon" src="/Images/icon.png" /><label class="site-slogan">At your service!</label></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <button class="btn btn-large btn-block btn-primary">Request Service</button></li>
            <li><a href="<%= root_path %>">Home</a></li>
            <li><a href="<%= root_path %>">Discover</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Inbox</a></li>
            <li class="divider">
              <hr />
            </li>
            <!--<li>-->
              <!--<button class="btn btn-danger">Signout</button></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<%= yield %>

  </body>
</html>
